header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--bg-dark);
}

.logo {
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 320px;
}

nav {
    /* background-color: aquamarine; */
    color: var(--text-light);
    width: 85%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* img {
    background-color: antiquewhite;
 } */

.nav__links {
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: brown; */
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    /* background-color: rgba(0, 255, 255, 0.301); */
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-light);
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 1rem;
}

.icons {
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 120px; */
    /* height: 100%; */
}

.icons__icon {
    width: var(--icon-size);
    height: var(--icon-size);
}



@media screen and (max-width: 600px) {

    :root {
        --icon-size: 1.2rem;
    }

    .icon {
        visibility: visible;
        width: 50px;
    }

    .type {
        display: none
    }

    nav {
        width: 95%;
        height: 70px;
    }

    ul {
        display: none;
    }

    /* .icon {
        width: 50px;
    } */

    .logo {
        min-width: 50px;
    }
}